.SwictherTheme {
  @include flex($direction: column, $align: center, $justify: space-between);
  background-color: var(--text);
  height: 80px;
  padding: 4px;
  border-radius: 18px;
  cursor: pointer;

  position: absolute;
  bottom: 20px;
  left: 28%;

  .dark {
    @include flex($align: center, $justify: center);
    background-color: black;
    border-radius: 10px;
    height: 50%;
    width: 80%;
    padding: 5px;
    transition: 0.3s;
  }

  .light {
    @include flex($align: center, $justify: center);
    padding: 5px;
    border-radius: 10px;
    color: black;
    height: 50%;
    width: 80%;
  }

  .unactive {
    background-color: var(--status-unactive);
    color: var(--text-unactive);
  }

  .active {
    background-color: var(--status-active);
    color: var(--text-active);
    transition: 0.3s;
  }
}

@media screen and (min-width: 800px) {
  .SwictherTheme {
    @include flex($direction: row);
    width: 70%;
    max-width: 110px;
    height: 40px;
    bottom: 20px;
    left: 8%;
    padding: 6px;
    .dark,
    .light {
      height: 90%;
    }
  }
}
