$background-pages: #262626;
$border: #60606095;

//cards
$background-cards: #140f0f;
$border-cards: #ffffff29;

//text
$first-color: #f5f5f5;
$second-color: #72a66a;

$graph: #61a963;

//button
$background-btn: #ffffff;
$border-btn: #0000004a;
