.Button {
  @include flex($align: center);
  @include poppins();
  @include btn($margin-top: 0px, $margin: initial);
  background-color: $background-btn;
  color: #000000;
  cursor: pointer;
  transition: all 0.55s;

  &:hover {
    box-shadow: 0 0 4px 2px $graph;
    transition: all 0.55s;
  }
}
