.WalletCard {
  @include cardSize();
  color: $first-color;
  @include flex($justify: space-between, $align: center);
  background-color: $background-cards;
  box-shadow: 0px 0px 5px $border-cards;
  letter-spacing: 0px;
  border-radius: 20px;
  padding: 12px;
  cursor: pointer;
  @media screen and (max-width: 700px) {
    @include flex($justify: space-between);
    position: relative;
  }
  @media screen and (max-width: 360px) {
    height: 80px;
    position: relative;
    overflow: hidden;
  }
  @media screen and (min-width: 510px) {
    padding: 12px;
  }

  @media screen and (min-width: 700px) {
    @include flex($direction: column, $justify: space-between);
    position: relative;
    transition: 0.4s;

    &:hover {
      transform: scale(1.1);
    }
  }
}
