.settingList {
  @include flex($direction: column, $align: center, $gap: 30px);
  .userSettings,
  .cardSettings {
    width: 100%;
    transform: translateY(50px);
    background-color: $background-cards;
    border: 1px solid $border-cards;
    box-shadow: 0 0 6px 1px $border-cards;
    border-radius: 20px;
    @include space-around($top-bot: 10px, $left-right: 10px);
    @include flex($direction: column, $align: center);

    .userPhoto {
      transform: translateY(-50px);
      border: 1px solid $second-color;
      border-radius: 100px;
      background-color: $background-cards;
      box-shadow: 0 0 6px 1px $second-color;
      object-fit: fill;
      @include size($width: 90px);
      @include space-around($top-bot: 6px, $left-right: 6px);
    }
    .userSettingsTitle,
    .cardSettingsTitle {
      text-decoration: underline $second-color;
    }
    .userData {
      transform: translateY(-30px);
      font-size: 12px;
      @include size($width: 100%);
      @include flex($direction: column, $gap: 10px);
      @include space-around($left-right: 16px);
    }


    .Button {
      @include flex($align: center);
      @include poppins();
      @include btn($margin-top: 40px);
      background-color: $background-btn;
      color: #000000;
      
    }
    



    .editBtn {
      @include flex($align: center);
      @include poppins();
      @include btn();
      background-color: $second-color;
      color: $first-color;
      

      &:hover {
        color: $second-color;
        background-color: $background-btn;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .settingList {
    .userSettings {
      transform: translateY(10px);
      @include flex($align: center, $gap: 10px);
      @include space-around($top-bot: 30px, $left-right: 20px);
      .userPhoto {
        transform: translateY(0);
        @include size($width: 120px);
      }
      .userData {
        transform: translateY(0);
        font-size: 14px;
      }
      .editBtn {
        transform: translateY(60px);
      }
    }
  }
}
