.allCryptoHead {
  width: 80%;
  height: 100px;
  position: absolute;
  top: 81px;
  right: 10px;
  z-index: 1;
  padding-left: 6%;
  background: var(--background);
  @media screen and (min-width: 505px) and (max-width: 990px) {
    width: 90%;
  }

  .container {
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 80%;
    @include flex($align: center, $justify: center, $gap: 12px);

    .search {
      border: 2px solid $graph;
      background-color: white;
      box-shadow: 0 0 5px 0px var(--card-border);
      border-radius: 24px;
      padding: 6px;
      @include flex($align: center);

      input {
        border: none;
        outline: none;
        background-color: white;
        color: $background-cards-dark;
        max-width: 130px;
      }

      img {
        max-height: 20px;
        max-width: 20px;
      }
    }

    @media screen and (max-width: 340px) {
      width: 90%;
      @include flex($align: center, $justify: flex-end, $gap: 4px);

      input {
        max-width: 100px !important;
      }
    }

    @media screen and (min-width: 500px) {
      @include flex($align: center, $justify: space-between);
      width: 90%;
    }
  }
}
.AllCriptoCard {
  padding-top: 80px;
}
