.allCryptoHead {
  width: 80%;
  height: 100px;
  position: absolute;
  top: 81px;
  right: 10px;
  z-index: 1;
  padding-left: 6%;
  background: var(--background);
  @media screen and (min-width: 505px) and (max-width: 990px) {
    width: 90%;
  }

  .container {
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 80%;
    @include flex($direction: column, $gap: 8px, $align: center);

    input {
      border-radius: 8px;
      padding: 4px;
      border: 2px solid $light;
      outline-color: $graph;
      background-color: $first-color;
      color: $background-cards-dark;
    }

    @media screen and (min-width: 500px) {
      @include flex($align: center, $justify: space-between);
      width: 90%;
    }
  }
}
.AllCriptoCard {
  height: 100%;
  padding-top: 80px;
}
