.title {
  @include flex($align: baseline, $gap: 10px);

  .image {
    width: 30px;
  }
}

.chartArea {
  background-color: $background-cards;
  box-shadow: 0px 0px 5px $border-cards;
  border-radius: 10px;
  padding: 30px;
}

.info {
  .price {
    h2 {
      margin-bottom: 0;
    }
    @include flex($direction: column, $align: center, $gap: 5px);
    border: 1px solid red;
    width: 250px;

    .priceDettails {
      @include flex($align: center, $gap: 5px);
      h6 {
        padding-left: 10px;
      }
    }

    .HLprice {
      @include flex($align: baseline, $gap: 10px);
      text-transform: lowercase;
    }
  }
}
