.header {
  @include flex($justify: space-between, $align: baseline, $gap: 10px);

  .image {
    width: 30px;
  }
}

.chartArea {
  background-color: $background-cards;
  box-shadow: 0px 0px 5px $border-cards;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 60px;
}

.info {
  @include flex(
    $direction: row,
    $justify: space-between,
    $align: baseline,
    $gap: 15px
  );
  box-shadow: 0px 0px 5px $border-cards;
  border-radius: 10px;
  padding: 20px;
  width: 100%;

  @media screen and (max-width: 800px) {
    @include flex(
      $direction: column,
      $justify: space-between,
      $align: baseline,
      $gap: 15px
    );
  }

  .price {
    @include flex($direction: column, $align: center, $gap: 5px);

    .priceDettails {
      @include flex($align: center, $gap: 5px);

      .negativeVar {
        padding-left: 10px;
        border-radius: 6px;
        padding: 5px;
        background-color: $red;
      }
      .positiveVar {
        padding-left: 10px;
        border-radius: 6px;
        padding: 5px;
        background-color: $graph;
      }
      .priceValue {
        font-size: 2.2rem;
        span {
          font-size: 1rem;
        }
      }
    }

    .HLprice {
      @include flex($align: baseline, $gap: 10px);
      text-transform: lowercase;
    }
  }
}

.row{
  @include flex($align: center);
  width: 100%;
  .col{
    @include col($gap: 10px, $sizeMd: 30%);
    @include flex($justify: space-around, $align: center);
    padding-bottom: 2em;
    h2{
      margin-bottom: 0px;
    }
    &:last-child{
      @include col($gap: 10px, $sizeMd: 70%);
      @include flex($justify: flex-end);
      //padding-bottom: 2em;
    }
  
  }
}