.Main {
  font-family: $primary-font;
  @include poppins();
  .header {
    @include flex($justify: space-between, $align: baseline, $gap: 10px);

    .row {
      @include flex($direction: row, $align: flex-start);
      width: 100%;
      .col {
        width: 100%;
        @include flex($gap: 10px);
        padding-bottom: 2em;
        align-self: flex-end;

        .btn {
          width: 100%;
          @include flex($gap: 10px);
          padding-bottom: 2em;
          align-self: flex-end;
        }
        .image {
          width: 30px;
        }
        .star {
          height: 25px;
          width: 25px;
          border-radius: 100%;
          cursor: pointer;

          &:hover {
            color: $graph;
            box-shadow: 0 0 10px 1px $graph;
            transition: all 0.55s;
          }
        }

        h2 {
          margin-bottom: 0px;
        }
        &:last-child {
          @include col($gap: 10px, $sizeMd: 70%);
        }
      }
    }
  }

<<<<<<< HEAD
.chartArea {
  background-color: var(--card--background);
  box-shadow: 0px 0px 5px var(--card-border);
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 60px;
}
=======
  .starActive {
    color: $graph;
    box-shadow: 0 0 10px 1px $graph;
    transition: all 0.55s;

    &:hover {
      color: $background-cards;
    }
  }

  .chartArea {
    height: 40vh;
    background-color: $background-cards;
    box-shadow: 0px 0px 5px $border-cards;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 60px;
  }
>>>>>>> origin/homeSections

.info {
  background-color: var(--card--background);
  @include flex(
    $direction: row,
    $justify: space-between,
    $align: baseline,
    $gap: 15px
  );
  box-shadow: 0px 0px 5px var(--card-border);
  border-radius: 10px;
  padding: 20px;
  width: 100%;

    @media screen and (max-width: 800px) {
      @include flex(
        $direction: column,
        $justify: space-between,
        $align: baseline,
        $gap: 15px
      );
    }

    .price {
      @include flex($direction: column, $align: center, $gap: 5px);

      .priceDettails {
        @include flex($align: center, $gap: 5px);

        .negativeVar {
          padding-left: 10px;
          border-radius: 6px;
          padding: 5px;
          background-color: $red;
        }
        .positiveVar {
          padding-left: 10px;
          border-radius: 6px;
          padding: 5px;
          background-color: $graph;
        }
        .priceValue {
          font-size: 2.2rem;
          span {
            font-size: 1rem;
          }
        }
      }

      .HLprice {
        @include flex($align: baseline, $gap: 10px);
        text-transform: lowercase;
      }
    }
  }
  .description {
    padding: 10px;
    padding-top: 30px;
    font-size: 0.8rem;
    text-transform: none;
    overflow-y: scroll;
  }
}
