@import "../../styles/scss/variables/colors.scss";
@import "../../styles/scss/variables/typography.scss";

.Main{
    --background: #{$background-pages};
    --text: #{$first-color};
    //CARD
    --card--background: #{$background-cards-dark};
    --card--text: #{$first-color};
    --card-border: #{var(--card-border)-dark};
    //BTN
    --btn-text: #{$background-cards-dark};
    --btn-background: #{$background-btn-light};
    --btn-border: #{$border-btn-dark};
    //scrollbar
    --scrollbar-bg: #{$background-cards-dark};
    
    background-color: var(--background);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 100%;
        text-align: center;
        h1{
            @include montserrat();
            text-transform: uppercase;
            margin-bottom: 2em;
        }
    }
}