@import "../../styles/scss/variables/colors.scss";
@import "../../styles/scss/variables/typography.scss";

.Main{
    background-color: $background-pages;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .container{
        width: 40%;
        text-align: center;
        h1{
            color: $first-color;
            letter-spacing: 4.5px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;

            margin-bottom: 2em;
        }
    }
}