@import "../../styles/scss/variables/colors.scss";
@import "../../styles/scss/variables/typography.scss";

.Layout {
  background-color: $background-pages;
  .container {
    background-color: $background-pages;
    width: calc((100% - 25%) + 1em);
    @media screen and (min-width: 992px) {
      width: calc((100% - 25%) + 2em);      
    }
    float: right;
    min-height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
    
    @include poppins();


  }
}
