@import "../../styles/scss/variables/colors.scss";
@import "../../styles/scss/variables/typography.scss";

.Layout {
  background-color: $background-pages;
  .container {
    background-color: $background-pages;
<<<<<<< HEAD
    width: calc(100% - 25%);
    float: right;
    min-height: 100vh;
    padding-left: 2em;
    padding-right: 2em;
=======
    .container {
      background-color: $background-pages;
      width: 100%;
      float: right;
      min-height: 100vh;
      padding-left: 2em;
      padding-right: 2em;
    }
>>>>>>> 63bffe2ce9b23e3d35c601aaa90ec276e6a1ce1a
  }
}
