.Card {
  @include cardSize();
  @include poppins();
  @include flex($align: center);
  background-color: $background-cards;
  box-shadow: 0px 0px 5px $border-cards;
  border-radius: 10px;
  padding: 6px;
  @media screen and (min-width: 800px) {
    border-radius: 30px;
  }
  @media screen and (min-width: 510px) {
    padding: 12px;
  }


  .details {
    @include flex($align: center);
    height: 100%;
    width: 35%;

    .star_desktop {
      height: 20px;
      width: 20px;
      cursor: pointer;
      border-radius: 100%;
      display: none;

      &:hover {
        color: $graph;
      }
    }

    .actions {
      @include flex(
        $direction: row,
        $justify: start,
        $gap: 8px,
        $align: center
      );
      width: 100%;
      height: 100%;
      .image {
        height: 25px;
        width: 25px;
        @media screen and (max-width: 350px) {
          height: 20px;
          width: 20px;
        }
      }
      .icons {
        @include flex(
          $direction: column,
          $align: flex-start,
          $justify: space-around,
          $gap: 3px
        );
        .rank {
          font-size: 0.6rem;
          color: rgb(163, 163, 163);
        }
        .symbol {
          @include flex($direction: column);
          font-size: 14px;
          @media screen and (max-width: 350px) {
            font-size: 8px;
          }
        }
      }
      
    }
  }
  .graph {
    @media screen and (max-width: 350px) {
      width: 45%;
    }
  }

  .stat {
    @include flex($direction: column, $align: flex-end, $gap: 4px);
    width: 25%;
    font-size: 14px;
    .icon {
      height: 20px;
      width: 20px;
      cursor: pointer;

      &:hover {
        color: $graph;
      }
    }
    @media screen and (max-width: 350px) {
      width: 20%;
      font-size: 9px;
    }
  }
  .graph {
    width: 40%;
    height: 40px;
  }

  .info {
    height: 70%;
    display: none;

    .digits {
      font-size: 13px;
      color: $second-color;
    }
    @media screen and (min-width: 800px) {
      .day,
      .week,
      .month {
        @include flex($justify: space-between);
        width: 100%;
        height: 33%;
      }
    }
  }
}