.Card {
  
  @include cardSize();
  color: $first-color;
  @include flex($align: center);
  background-color: $background-cards;
  box-shadow: 0px 0px 5px $border-cards;
  letter-spacing: 0px;
  border-radius: 20px;
  padding: 12px;
  @media screen and (max-width: 350px) {
    height: 80px;
  }
  @media screen and (min-width: 510px) {
    padding: 12px;
  }

  @media screen and (min-width: 800px) {
    
    @include flex($direction: column, $justify: space-between);
    position: relative;
  }
  .details {
    @media screen and (min-width: 800px) {
      @include flex($direction: row, $align: center);
      height: 30%;
      width: 100%;
    }
    @include flex($align: center);
    height: 100%;
    width: 100%;
    
    .star_desktop {
      @media screen and (min-width: 800px) {
        @include flex;
      }
      height: 20px;
      width: 20px;
      cursor: pointer;
      border-radius: 100%;
      display: none;

      &:hover {
        color: $graph;
      }
    }
    .actions {
      @media screen and (min-width: 800px) {
        @include flex($direction: row, $gap: 10px, $align: center);
      }
      @include flex(
        $direction: row,
        $justify: flex-start,
        $gap: 8px,
        $align: center
      );
      width: 100%;
      height: 100%;

      .icons {
        @include flex(
          $direction: column,
          $align: flex-start,
          $justify: space-around,
          $gap: 3px
        );
        .rank {
          font-size: 0.6rem;
          color: rgb(163, 163, 163);
        }

        .symbol {
          @include flex($direction: column);
          font-size: 14px;
          @media screen and (max-width: 350px) {
            font-size: 8px;
          }
        }
      }
      .image {
        @media screen and (max-width: 350px) {
          height: 20px;
          width: 20px;
        }
        height: 25px;
        width: 25px;
      }
    }
  }
  .graph {
    @media screen and (max-width: 350px) {
      width: 45%;
    }
    @media screen and (min-width: 800px) {
      position: absolute;
      top: 15px;
      right: 15px;
    }
    width: 40%;
    height: 40px;
  }
  .stat {
    @media screen and (max-width: 350px) {
      width: 20%;
      font-size: 9px;
    }

    @include flex($direction: column, $align: flex-end, $gap: 4px);
    width: 25%;
    font-size: 14px;
    .icon {
      height: 20px;
      width: 20px;
      cursor: pointer;

      &:hover {
        color: $graph;
      }
    }

    @media screen and (min-width: 800px) {
      display: none;
    }
  }

  .info {
    height: 70%;
    margin-top: 20px;
    @media screen and (max-width: 800px) {
      display: none;
    }
    .digits {
      font-size: 10px;
      color: $second-color;
    }

    @include flex($direction: column);
    height: 60%;
    width: 100%;

    .day,
    .week,
    .month {
      font-size: 10px;
      color: $light;
      @include flex($justify: space-between);
      width: 100%;
      height: 33%;
    }
  }

  .star{
    width: 30px;
    height: 30px;
  }

  .rank {
    font-size: 2rem;
    color: $light;
  }
}
