@import "../../styles/scss/variables/colors.scss";
@import "../../styles/scss/variables/typography.scss";

.Header {
  width: calc(20% - 0.5em);
  padding: 0.5em;
  z-index: 2;

  @media screen and (min-width: 400px) {
    width: calc(25% - 1rem);
  }

  @media screen and (min-width: 992px) {
    width: calc(25% - 2em);
    padding: 2em;
  }
  color: $first-color;
  height: 100vh;
  position: fixed;

  background-color: $background-pages;
  box-shadow: $box-shadow;

  .logo {
    @include poppins();

    font-size: 50px;
    font-weight: bold;
    letter-spacing: 4.5px;

    text-decoration: unset;

    @media screen and (max-width: 1050px) {
      font-size: 40px;
    }
    @media screen and (max-width: 991px) {
      display: none;
    }
    &__mobile {
      display: none;

      @media screen and (max-width: 991px) {
        display: block;
        width: 60%;
        margin: 0 auto;
        margin-top: 2em;
        svg {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  .list {
    display: block;
    list-style: none;
    line-height: 50px;
    margin-bottom: 5em;
    margin-top: 3em;

    @media screen and (min-height: 550px) {
      line-height: 1px;
    }

    @media screen and (min-width: 580px) {
      line-height: 20px;
    }

    @media screen and (min-width: 992px) {
      line-height: 50px;
    }

    a {
      font-size: 12px;
      font-weight: 500;
      @include poppins();
      text-decoration: unset;

      @media screen and (min-width: 992px) {
        display: flex;
      }
      align-items: center;
      @media screen and (max-width: 991px) {
        .pageName {
          display: none !important;
        }
      }
      .svg {
        height: 20px;
        width: auto;
        margin-right: 20px;
        svg,
        .aboutIcon {
          display: block;
          @media screen and (max-width: 992px) {
            margin: 0 auto;
            margin-bottom: 5em;
          }
        }

        .aboutIcon {
          height: 25px;
          width: 25px;
          color: $first-color;
        }
      }
    }
  }
}
