@mixin flex(
  $direction: row,
  $justify: flex-start,
  $align: flex-start,
  $gap: 0px,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
  flex-wrap: $wrap;
}

@mixin cardSize() {
  /* MOBILE */
  @media screen and (max-width: 768px) {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  /* IPAD TABLET */
  @media only screen and (max-width: 769px) and (min-width: 1023px)  {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
    
  @media screen and (min-width: 1024px) {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  
}