@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700;900&family=Poppins:wght@300;500;600;700;900&display=swap');

$primary-font: "Poppins", sans-serif;
$secondary-font: 'Montserrat', sans-serif;
@mixin poppins() {
    font-family: $primary-font;
    font-weight: 500;
    color: var(--text);
    text-transform: uppercase;
    letter-spacing: 1.68px;
}

@mixin montserrat() {
    font-family: $secondary-font;
    letter-spacing: 5.6px;
    color: var(--text);
    text-transform: uppercase;
}


