.GlobalModal {
  @include flex($justify: center, $align: center);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  @include size(100%);

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    @include size(100%);
    background-color: rgba(0, 0, 0, 0.8);
  }
  .content {
    @include size(90%, auto);
    text-align: center;
    position: fixed;
    border-radius: 20px;
    background-color: $background-btn;
    color: $second-color;
    box-shadow: 0px 0px 15px 2px $graph;
    padding: 20px 40px 40px;
    margin-left: 30%;
    max-width: calc(800px - 30%);

    @media screen and (max-width: 900px) {
      max-width: calc(600px - 30%);
      margin-left: 25%;
    }
    @media screen and (max-width: 700px) {
      max-width: calc(400px - 10%);
      margin-left: 25%;
    }

    @media screen and (max-width: 300px) {
      max-width: calc(300px - 30%);
      margin-left: 25%;
    }

    .title {
      @include space-around($all: 20px);
    }
    .form {
      @include flex(column, center, center, 20px, nowrap);
      .input {
        background-color: $background-btn;
        @include size(100%, 30px);
        border: 0;
        border-bottom: 1px solid $border-btn;
        outline: none;
        color: $background-cards;
        @include space-around(0, 0, 6px);
        cursor: pointer;
      }
      .firstInput {
        display: flex;
        align-items: center;

        .icon {
          @include size(25px);
        }
      }
      .secondInput {
        display: flex;
        align-items: center;

        .icon {
          @include size(25px);
        }
      }
      .btn {
        @include btn($margin-top: 40px);
        border: none;
        color: $graph;
        background-color: $first-color;

        cursor: pointer;
        &:hover {
          background-color: $graph;
          color: $first-color;
        }
      }
    }
  }
}
